Wifi=
WifiPass=

EfiPart=/dev/nvme0n1p1

ArchPart=/dev/nvme0n1p4
ArchLabel=Arch

MountOpsSsd=noatime,compress=zstd:3,ssd,discard=async,space_cache=v2
MountOpsHdd=noatime,autodefrag

SwapPart=/dev/nvme0n1p5

PersonalPart=/dev/nvme0n1p3

MountPath=/mnt/ins

HostName=

#TimeZone=America/New_York
TimeZone=US/Pacific
#TimeZone=Asia/Kolkata

